@model DataAccess.ViewModel.EmployeeViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a class="navbar-brand" href="@Url.Action("Index", "Employees" , new { area="product",@page=Model.page,@search=Model.search,@sortby="Name",@orderBy=Model.orderBy })">Name</a>
            </th>
            <th>
                <a class="navbar-brand" href="@Url.Action("Index", "Employees" , new { area="product",@page=Model.page,@search=Model.search,@sortby="Email",@orderBy=Model.orderBy })">Email</a>
            </th>
            <th>
                <a class="navbar-brand" href="@Url.Action("Index", "Employees" , new { area="product",@page=Model.page,@search=Model.search,@sortby="PhoneNumber",@orderBy=Model.orderBy })">Number</a>
                
            </th>
            <th>
                <a class="navbar-brand" href="@Url.Action("Index", "Employees" , new { area="product",@page=Model.page,@search=Model.search,@sortby="City",@orderBy=Model.orderBy })">City</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.employees) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<table cellpadding="0" cellspacing="0" >
    <tr>
        @{
            var TotalPages =Math.Ceiling((double)(Model.TotalRecord / Model.pageSize));
        }
        @for (int i = 1; i <= TotalPages; i++)
        {
            <td>
                @if (i != Model.page)
                {
                    <a class="navbar-brand" href="@Url.Action("Index", "Employees" , new { area="product",@page=Model.page })">@i</a>

                }
                else
                {
                    <span>@i</span>
                }
            </td>
        }
    </tr>
</table>



